html{
    zoom: 100%;
}

@media (max-width:1600px){
    html{
        zoom: 90%;
    }
}

@media (max-width:1400px){
    html{
        zoom: 80%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", "Segoe UI", sans-serif;
}

.LoginBG {
    width: 100%;
    min-height: 125vh;
    background-color: #1a1a1a;
    border-radius: 5px;

    display: grid;

    grid-template-columns: 65% 30%;
    gap: 20px;

    
    align-items: start;
}

.LoginCardBG {
    width: 550px;
    background-color: #668eb9;
    border-radius: 20px;

    position: absolute;
    top: 50px;
    left: 33%;
    min-height: 110vh; 
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.LoginCard {
    width: 98%;
    background-color: #2e2e2e;
    border-radius: 20px;

    min-height: 107vh; 
}

.LoginCard,

#SchoolName {
    color: #e8e8e8;
    font-size: 42px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    padding-left: 12px;
    padding-top: 10px;
    align-self: center;
}


#EmailTxt {
    width: 80%;
    height: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    color: #e8e8e8;
    font-size: 18px;
    padding-left: 10px;
    margin-top: 20px;
    margin-left: 50px;
}

#PasswordTxt {
    width: 80%;
    height: 50px;
    background-color: #1e1e1e;
    border-radius: 10px;
    border: none;
    color: #e8e8e8;
    font-size: 18px;
    padding-left: 10px;
    margin-top: 30px;
    margin-left: 50px;
}

#LoginBtn {
    margin-top: 30px;

    width: 240px;
    height: 60px;
    background-color: #1e4268;
    border-radius: 10px;
    margin-left: 140px;
    color: #e8e8e8;
    font-size: 30px;
    align-self: center;
    font-weight: 500;
}