html{
    zoom: 100%;
}

@media (max-width:1600px){
    html{
        zoom: 90%;
    }
}

@media (max-width:1400px){
    html{
        zoom: 80%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", "Segoe UI", sans-serif;
}

.HeaderBG {
    width: 100%;
    height: 125px;
    background-color: #1e1e1e;
    display: grid;
    border-radius: 5px;
}

.HeaderBG #SchoolName {
    color: #e8e8e8;
    font-size: 42px;
    font-weight: 700;
    margin-left: 20px;
    margin-top: -15px;
    align-self: center;
}

.LoginButtonBG {
    background-color: #668eb9;
    width: 150px;
    height: 60px;
    position: absolute;
    top: 30px;
    right: 160px;
    border-radius: 15px;
}

.LoginButton {
    background-color: #2e2e2e;
    width: 95%;
    height: 90%;
    display: grid;
    position: absolute;
    top: 5%;
    left: 2.5%;
    border-radius: 15px;    
}

.LoginButton h2 {
    color: #e8e8e8;
    font-size: 30px;
    font-weight: 500;
    position: absolute;
    top: 5%;;
    left: 23%;
}   
.HeaderBG #Logo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 12px;
    right: 20px;
}

.SubHeaderBG {
    position: absolute;
    top: 120px;
    width: 100%;
    height: 75px;
    background-color: #2e2e2e;
    display: grid;
    border-radius: 3px;
}

.Pages {
    display: flex;
    height: 100%;
    text-decoration: none;
}

.Pages a {
    text-decoration: none;
}

.Pages h2 {
    text-decoration: none;
    width: 180px;
    height: 100%;

    font-size: 24px;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #e8e8e8;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s ease;
}

.UnderLine {
    width: 100%;
    height: 5px;
    background-color: #668eb9;
    position: absolute;
    bottom: 0;
    left: 0;
}

.Pages h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 5px;

    background-color: rgba(74, 144, 217, 0.20);

    transform: translateY(0);
    transition: all 0.25s ease;
}

.Pages h2:hover {
    background-color: #2a2a2a;
    color: #e8e8e8;
}

.Pages h2:hover::after {
    height: 75px;
}